[submodule "dump-action"]
	path = dump-action
	url = https://github.com/guicho271828/downward-fixed-build.git
	branch = dump-action
        update = rebase
[submodule "timeout"]
	path = timeout
	url = https://github.com/guicho271828/timeout.git
	branch = master
        update = rebase
